<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <title> what is this page </title>
</head>
    <body>
        <div>
        <p class="logo-1">What is this Web App for?</p>
        <p class="logo-1">This Web App is for individuals and businesses to gain vital news instantaneously.<br>
        We also have tools to help businesses manage their crowds during the COVID-19 Pandemic.
        </p>
        <p class="logo-1">Our team<br><br><br>Rithvik<br><br>Aman<br><br>Sidharth<br><br>Ishan<br><br><br><br><br><br><br><br>&nbsp</p>
        </div>
    </body>
</html>