<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title> what is this page </title>
</head>
    <body>
        <div>
            <h1> What is this page? </h1>
            <h2> this page is about covid... </h2>

            <h1> Who are our team members</h1>
            <h2> Rithvik, Aman, Sidharth, Ishan

            <h1> what is the purpose of this website?
            <h2> ..... </h2>
        </div>
    </body>
</html>