<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/business.css">
</head>
<body>
  <div class="topbar">
      <div class="topphrase">Open Up</div>
  </div>
  <ul id="navbar">
      <li><a class="active" href="/">Home</a></li>
      <li class="dropdown">
          <a class="dropbtn" href="javascript:void(0)">News</a>
          <div class="dropdown-content">
              <a href="#">News 1</a>
              <a href="#">News 2</a>
              <a href="#">News 3</a>
          </div>
      </li>
      <li><a href="/about">About</a></li>
  </ul>
  <br>
  <br>
  <br>
  <h2>For Businesses</h2>
  <h3>Hello {{name}}</h3>
  <p>Number of people currently in your business</p>

  <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
  <input type="range" id="a" value="1000">
  +<input type="number" id="b" value="25">
  =<output name="x" for="a b"></output>
  </form>

  <p>Enter names of the people who are working in your business at the current moment:</p>

  <form id="frm1" action="/action">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br><br>
    <input type="button" onclick="myFunction()" value="Submit">
  </form>

  <script>
  function myFunction() {
    document.getElementById("frm1").submit();
  }
  </script>

  <p>Current safe distancing measures that have to be followed for businesses:</p>
  <ul class="list">
    <li>While customers and delivery personnel are allowed to enter the premises of the F&B establishments for takeaway or delivery, they must leave the premises once they have picked up their orders.During this period, F&B establishments should cancel all events and promotions that will generate crowding at their physical premises in a manner which is non-compliant with the SMMs.</li>
    <li>Social gatherings are allowed to comprise up to 2 persons, a reduction from 5 persons. In line with this, retail establishments are to ensure at least one-metre spacing between groups of customers (of up to 2 persons). Malls should also ensure that crowds do not gather at atriums or common spaces, and discourage the consumption of food and drinks at such spaces.</li>
    <li>The occupancy limit for malls and large standalone stores42 will be one person per 16 sqm of Gross Floor Area (GFA), instead of one person per 10 sqm of GFA. During this period, retail establishments should cancel all events and promotions that will generate crowding at their physical premises in a manner which is non-compliant with the SMMs.</li>
    <li>The operating capacity of Commercial Family Entertainment Centres must be kept to a maximum of one person per 16 sqm of usable space or 25% operating capacity, whichever is lower43, instead of one person per 10 sqm of usable space or 50% operating capacity (see Annex B).</li>
    <li>Indoor “mask-off” services and activities must cease. This includes dine-in F&B establishments, strenuous indoor exercise class or strenuous individual and group indoor sports and exercise activities. Personalised services which require masks to be removed (e.g. facials, saunas, make-up services), singing, and the playing of instruments that require intentional expulsion of air (e.g. wind or brass instruments) will also not be allowed. These restrictions will not apply to medical and dental consultations that require patients to have their masks removed.</li>
    <li>Since 15 July 2021, it has been mandatory for establishments providing personal care services (e.g. facial and nail services, spas/saunas, massage establishments, hairdressing, and make-up services) to place all employees on a regular Fast and Easy Testing (FET) regime using tests such as antigen rapid test (ART), regardless of their vaccination status.</li>
    <li>Food and drinks are not allowed at work-related events.</li>
    <li>From 21 July 2021, both TraceTogether-only SafeEntry (TT-only SE) and SafeEntry Gateway (SEGW) check-in requirements will be re-introduced at supermarkets located within TT-only SE buildings with the same operating hours</li>
  </ul>
</body>
</html>